/* src/styles/Login.module.css */

.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* 改为开始对齐，即内容不完全居中 */
  height: 100vh;
  background-color: #f5f5f5;
  padding-top: 50px; /* 通过顶部内边距使容器偏上 */
}

.loginContainer h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.formGroup {
  margin-bottom: 15px;
  width: 400px;
}

.formGroup label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #555;
}

.formGroup input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.error {
  color: red;
  font-size: 14px;
  margin-bottom: 15px;
}

.submitButton {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 40px;
}

.submitButton:hover {
  background-color: #0056b3;
}

/* src/styles/Login.module.css */
/* 弹窗样式 */
.errorPopupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.errorPopup {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 450px; /* 可根据需要调整 */
}

.errorPopup p {
  font-size: 16px;
  margin-bottom: 20px;
  color: #d32f2f; /* 红色文字 */
}

.errorPopup button {
  background-color: #f44336; /* 红色背景 */
  color: white; /* 白色文字 */
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.errorPopup button:hover {
  background-color: #e53935; /* 鼠标悬停时的颜色 */
}

.errorPopup button:active {
  background-color: #d32f2f; /* 点击时的颜色 */
}

.mainTitle {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  color: #ffffff; /* 白色文字 */
  background-color: #007bff; /* 蓝色背景 */
  padding: 1.5rem 2rem; /* 上下和左右的内边距 */
  margin-bottom: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 添加阴影 */
  border-radius: 8px; /* 圆角边框 */
}

.passwordWrapper {
  display: flex;
  align-items: center;
  position: relative; /* 关键，允许绝对定位 */
}

.passwordInput {
  flex: 1; /* 填满父容器的剩余空间 */
  padding-right: 40px; /* 为按钮预留右侧空间 */
}

.showPasswordButtonInside {
  position: absolute;
  right: 10px; /* 调整按钮位置 */
  top: 50%;
  transform: translateY(-50%); /* 垂直居中 */
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #555;
  font-size: 16px;
  padding: 4px;
  transition: color 0.2s ease-in-out, transform 0.2s ease-in-out; /* 添加平滑过渡效果 */
}

.showPasswordButtonInside:hover {
  color: #007bff; /* 悬停效果 */
  transform: translateY(-50%) scale(1.1); /* 放大效果 */
}

.showPasswordButtonInside:focus {
  outline: none;
  color: #0056b3;
}
